.needle {
  width: 4px;
  height: 140px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: rotate(-80deg); /* posição inicial */
  transition: transform 0.1s ease-out;
  z-index: 3;
}

.needleHead {
  background: red;
  height: 30%;
}

.needleBody {

}