:root {
    --mwRSMainGreen: #A5E245;
    --mwRSSecondaryGreen: #3F571B;
    --mwRSSecondaryDark: #2B3B13;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 720px;
}

.top {
    display: flex;
    height: 50%;
}

.topLeft {
    width: 50%;
}

.topRight {
    width: 50%;
}

.rpmInput {
    width: 300px;
    display: block;
    margin: 10% auto;
}

.bottom {
    padding: 0 5%;
    margin: 0;
}

.bottomHead {
    border-bottom: 10px dashed var(--mwRSMainGreen);
}

.bottomHeadH2 {
    background-color: var(--mwRSMainGreen);
    color: black;
    margin: 0;
    padding-left: .5rem;
}

.bottomInfo {
    background: repeating-linear-gradient(
                -45deg,
                var(--mwRSSecondaryGreen),
                var(--mwRSSecondaryGreen) 10px,
                var(--mwRSSecondaryDark) 10px,
                var(--mwRSSecondaryDark) 20px
                );
    margin-bottom: .5rem;
}

.bottomInfoP {
    margin: 0;
    padding: .5rem;
}

.bottomConfigs {
    border-bottom: 10px dashed var(--mwRSMainGreen);
}

.bottomConfigsLayout {
    display: flex;
    flex-direction: column;
    border-bottom: 10px dashed var(--mwRSMainGreen);
}

.bottomConfigsLayout2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.configsColorPickers {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.backgroundSelector {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.tacometerValuesDiv {
    margin: 10px;
    border: 10px solid var(--mwRSMainGreen);
    display: flex;
}

.needleAndScalesDiv {
    display: flex;
}

.redlineInputRangeList {
    width: 300px;
    margin-bottom: 0px;
    margin-left: 0;

    -webkit-appearance: none;
    appearance: none;
    background: var(--mwRSSecondaryDark);
}

.redlineInputRangeList::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 14px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.redlineInputRangeList::-moz-range-thumb {
    width: 13px;
    height: 14px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    color: white;
}

option {
    padding: 0;
}